
<html ng-app = 'app'>
   
   <head>
      <title>AngularJS Directives</title>
       <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src = "events.js"></script>
       <script src="service.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   </head>
   
   <body ng-controller = 'mycon'>  
       <div ng-include src="'NarBar.html'"></div>
       
       
       
       <div class="container-fluid">
        <script src="service.js"></script>

       
       <div class="col-md-12" >
           <h1 class="text-success">Search Songs or Albums</h1>
       </div>
           
       
       <div class="col-md-5">
            <input type="text" class="form-control" ng-model="items">
       </div>
       
       
       <div class="catagory">
                <select ng-model="choice">
                    <option value="songs">songs</option>
                    <option value="albums">albums</option>
                </select>
       </div>
           
          
      
           <button class="btn btn-success" ng-click="display()">Search</button>

       
       
      
       
       </div>
      
   </body>
</html>